node_modules/
*.wal
build/
app/src/contracts/
package-lock.json
.DS_STORE
launch.json
DeBa_Tokenomics.csv
deployed.json.backup
fullvaultlist.txt
migration.txt
agent/
migrations_backup/
governor.js
DeBa_Tokenomics_Months.csv
deployed.json.final_backup
truffle-config.js
test/
migrations/